@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

.dimgrey {
    color: dimgrey;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.jumbotron {
    margin-top: 50px;
}

.text-success {
    margin-top: 10px;
}

.nar-right {
    margin-right: 10px;
}

.footer {
    height: 25px;
}

.footer .container ul li {
    line-height: 25px;
    list-style-type: none;
    padding-right: 15px;
}

.footer .container ul li span {
    width: 100px;
    text-align: justify;
}

.footer .container ul li a {
    /*float: left;*/
}